.input-field {
  position: relative;
  align-self: start;
  width: 100%;
}

.input-field__input {
  padding: 6px 10px;
  border: 1px solid var(--border);
  background: var(--bg-field);
  color: var(--text);
  margin: 0;
  width: -webkit-fill-available;

  font-size: 10px;
  letter-spacing: 0.12em;
  transition: color 0.22s;
  line-height: 1.3;
}

.input-field__input--accent {
  border-color: var(--accent-border);
}