:root {
  --text: #FFFFFF;
  --text-h: #FFE7E1;
  --bg: #0C0F16;
  --second-bg: rgba(29, 33, 51, 0.85);
  --bg-field: rgba(255, 255, 255, 0.03);
  --border: #383E59;
  --accent: #FFE7E1;
  --fill-bg: rgba(255, 255, 255, 0.03);
  --accent-border: #FFE7E1;
  --second: #4A4956;
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --default: system-ui, 'Inter Variable', Arial, sans-serif;
  --logo: 'Monoton', system-ui;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  background-image: url('../assets/grid.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100svh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  font-family: var(--default);
  margin: 0;
  width: 800px;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Убирает случайные полосы прокрутки */
  box-sizing: border-box;
}

h1 {
  font-family: var(--logo);
  color: var(--text-h);
  text-transform: uppercase;
  font-size: 36px;
  margin: 0;
}
legend {
  font-family: var(--default);
  font-weight: 500;
  color: var(--text-h);
  font-size: 16px;
  margin: 0;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}

p {
  margin: 0;
}