.telemetry {
  width: 46px;
  height: 249px; 
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.telemetry span {
  border: 1px solid var(--second);
  min-height: 0;
  transition: flex-grow 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.telemetry span.active {
  flex-grow: 2;
  opacity: 1;
}

@keyframes pulse-a {
  0% {
    flex-grow: 1;
  }

  50% {
    flex-grow: 4;
  }

  100% {
    flex-grow: 1;
  }
}